.about-block {
    display: flex;
    column-gap: 35px;
}

.about-block .photo {
    height: 150px;
}

.about-block h1 {
    font-size: 32px;
}

.about-block p {
    font-size: 24px;
}

.about-block .social-media {
    display: flex;
    column-gap: 5px;
    margin-top: 20px;
}

.about-block .social-media img {
    height: 24px;
    transition: 0.25s;
}

.about-block .social-media img:hover {
    height: 30px;
    transition: 0.25s;
}